# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Instance folder (local configs / sqlite DB)
instance/
# You can be more specific:
# instance/users.sqlite3

# SQLite DB
*.db
*.sqlite3

# VS Code
.vscode/

# Pytest/coverage
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Packaging
*.egg-info/
dist/
build/

# .gitignore
.env
instance/users.sqlite3
__pycache__/
*.pyc